<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Task</title>
</head>
<body>
    <form action="/show" method="post">
        <ul>
            <% for(tasks of task.task) {%>
            <li><%= tasks %></li>
            <% } %>
        </ul>
        <input type="text" name="newtask">
        <button>submit</button>
    </form>
</body>
</html>