<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Task</title>
    <link rel="icon" href="/pngegg.png">
</head>
<body>
    <form action="/taskmanager" method="post">
        <ul>
            <% for(tasks of task.task) {%>
                <input type="text" name="tasklist" id="tasklist" value="<%= tasks %>">
            <% } %>
        </ul>
        <!-- <input type="text" name="newtask"> -->
        <button>submit</button>
    </form>
</body>
</html>