<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Interface</title>
    <link rel="stylesheet" href="/newuser.css">
    <link rel="icon" href="/pngegg.png">
</head>

<body>
    <div class="maincontener">
        <div class="userinfo">
            <div class="tital">
                <h1>Welcome, New User</h1>
            </div>
            <div class="formdetails">
                <form action="/taskmanager" method="post" autocomplete="off">
                    <div class="inputinfo">
                        <label for="username">Enter New User Name</label>
                        <input type="text" name="username" id="username">
                        <label for="id">Enter New User Id</label>
                        <input type="text" name="id" id="id">
                        <div class="btns">
                            <button>submit</button>
                            <hr>
                            <button class="taskclear" type="button">Add Task</button>
                        </div>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <input type="text" name="tasklist" id="tasklist" placeholder="Enter New Task">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/newuser.js"></script>
</body>

</html>